In [1]:
import pandas as pd
import numpy as np
import ast
import re
from collections import defaultdict

In [2]:
business_train = pd.read_json('..//data//business_test.json',orient = 'records',lines = True)

In [3]:
def nestedValue(x:str):
    """judge if a string contains nested json information"""
    return re.match(u'{.*}',x)

### first extract the column names from nested json
colnames=[]
for attribute in business_train.attributes:
    if attribute==None:
        continue
    for key,value in attribute.items():
        if not nestedValue(value):
            colnames.append(key)
        else:
            for nestKey,nestValue in ast.literal_eval(value).items():
                colnames.append(nestKey)
colnames=set(colnames)

### second extract the value from nested json file
res=defaultdict(list)
count=0
for attribute in business_train.attributes:
    if attribute==None:
        continue
    for i in colnames:
        res[i].append(None)
    for key,value in attribute.items():
        if not nestedValue(value):
            res[key][count]=value
        else:
            for nestKey,nestValue in ast.literal_eval(value).items():
                res[nestKey][count]=nestValue
            
    count+=1

In [5]:
pd.DataFrame(res).columns

Index(['BYOBCorkage', 'OutdoorSeating', 'validated', 'BikeParking', 'Caters',
       'Ambience', 'HasTV', 'WiFi', 'friday', 'Corkage', 'classy',
       'dairy-free', 'no_music', 'vegetarian', 'asian', 'DriveThru', 'casual',
       'CoatCheck', 'upscale', 'street', 'breakfast', 'romantic',
       'BusinessAcceptsCreditCards', 'NoiseLevel', 'valet', 'GoodForMeal',
       'RestaurantsTakeOut', 'Open24Hours', 'dinner', 'lunch', 'HappyHour',
       'background_music', 'trendy', 'halal', 'wednesday', 'GoodForDancing',
       'kosher', 'saturday', 'perms', 'sunday', 'curly', 'ByAppointmentOnly',
       'Alcohol', 'soy-free', 'video', 'BusinessAcceptsBitcoin', 'dj',
       'monday', 'karaoke', 'HairSpecializesIn', 'gluten-free',
       'RestaurantsPriceRange2', 'coloring', 'Smoking', 'AgesAllowed', 'kids',
       'BusinessParking', 'extensions', 'thursday', 'RestaurantsReservations',
       'tuesday', 'Music', 'BYOB', 'RestaurantsAttire', 'GoodForKids',
       'dessert', 'straightperms', 'live', 'hipster', 'jukebox',
       'RestaurantsGoodForGroups', 'africanamerican', 'AcceptsInsurance',
       'RestaurantsTableService', 'latenight', 'divey', 'WheelchairAccessible',
       'DogsAllowed', 'brunch', 'RestaurantsDelivery', 'DietaryRestrictions',
       'garage', 'vegan', 'lot', 'BestNights', 'intimate', 'touristy'],
      dtype='object')

In [15]:
business_train = pd.read_json('business_train.json',orient = 'records',lines = True)

In [16]:
business_train[business_train.business_id.isin([35344,150946,49924,182880,188661])]

,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,state
1160,{'BusinessAcceptsCreditCards': 'True'},49924,"Windshield Installation & Repair, Auto Glass S...",Gilbert,"{'Monday': '0:0-0:0', 'Tuesday': '7:0-18:0', '...",1,33.333553,-111.754992,Sun Devil Auto,85296,AZ
3761,"{'NoiseLevel': ''average'', 'RestaurantsAttire...",188661,"Bars, Restaurants, Nightlife, American (New)",Phoenix,"{'Monday': '0:0-0:0', 'Tuesday': '16:30-22:0',...",0,33.525664,-112.064823,Joe's Midnight Run,85014,AZ
3900,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...",35344,"Beauty & Spas, Hair Stylists, Makeup Artists, ...",Las Vegas,"{'Monday': '10:0-17:0', 'Tuesday': '10:0-19:0'...",1,36.110083,-115.153871,Kelly Cardenas Salon - Hard Rock Hotel & Casino,89169,NV
5283,"{'RestaurantsAttire': 'u'casual'', 'WiFi': 'u'...",150946,"Restaurants, Burgers, Breakfast & Brunch, Amer...",Las Vegas,"{'Monday': '6:0-15:0', 'Tuesday': '6:0-15:0', ...",1,36.062194,-115.241856,Egg Works,89118,NV
9068,"{'BikeParking': 'True', 'BusinessAcceptsCredit...",182880,"Tattoo, Piercing, Beauty & Spas",Las Vegas,"{'Monday': '9:0-22:0', 'Tuesday': '9:0-22:0', ...",1,36.121330,-115.175284,Starlight Tattoo,89109,NV

In [14]:
business_train.business_id

0        141184
1        148476
2         86835
3        116708
4         59216
5          8159
6         78312
7        155769
8         99492
9         12721
10       136258
11       187446
12       191658
13       124093
14       133075
15       174437
16        36105
17        56907
18       127442
19       182557
20       102800
21        23139
22        97908
23       101349
24       104706
25        84525
26        51307
27       118321
28        11267
29        42336
          ...
37970     21916
37971     44664
37972     36414
37973     20185
37974    107129
37975    139083
37976     90678
37977    188316
37978     43976
37979    114529
37980    133929
37981    171719
37982     20524
37983     55736
37984    150949
37985     64795
37986    112461
37987     62368
37988    132384
37989     20536
37990    150258
37991    142523
37992    125188
37993    172653
37994    156574
37995     16647
37996    176728
37997    118919
37998     82935
37999    153674
Name: business_id, Length: 38000, dtype: int64